hs_err_pid*
*.class
errorlogs/
punishments/
characters/
housing/
data/saves/edgeville-well.txt
*.bat
config.txt
/bin/
BootServer.bat
data/saves/logs/
data/saves/pos/shops.dat
data/saves/pos/shops.dat
data/saves/scoreboards/tournament_scoreboard.json
data/saves/scoreboards/killstreaks_scoreboard.json
data/saves/scoreboards/killstreaks_scoreboard.json
/cache/main_file_cache.*
data/saves/wells.txt
debug/channelClosed.txt
target/
wiki/
data/objects/
build/
data/objects/farming/High105.json
.DS_Store
*.txt
/.gradle/
